name: CI

on:
  pull_request:
    branches: [ "**" ]
    paths:
      - '**.go'
      - 'go.mod'
      - 'go.sum'
      - '.github/workflows/ci.yml'

jobs:
  golangci-lint:
    name: lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-go@v6
        with:
          go-version: 1.24.4
      - name: Install libpcap-dev
        run: sudo apt-get update && sudo apt-get install -y libpcap-dev
      - uses: golangci/golangci-lint-action@v8
        with:
          version: v2.5.0

  test:
    name: test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-go@v6
        with:
          go-version: 1.24.4
      - name: Install libpcap-dev
        run: sudo apt-get update && sudo apt-get install -y libpcap-dev
      - name: Download Go modules
        run: go mod download
      - name: Run Go tests
        run: go test ./dnp3 -v -args -pcaps=opendnp3_test1.pcap -print-string -print-json